Repository sukhera/APIWeaver, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, parser, api, documentation, config, docker, ci, dependencies, tests, security, breaking-change, infrastructure, performance, bug, feature

fix: Workflows and update frontend dependencies and resolve vulnerabilities
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  infra/.dockerignore
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/editor/MonacoEditor.tsx
  web/src/pages/Generate.tsx
  web/src/test/setup.ts
Labels: frontend, config, ci, dependencies, security, infrastructure

fix dependency issues
  web/package-lock.json
  web/package.json
Labels: frontend, config, dependencies

fix workflow changes
  .github/workflows/ci.yml
  .github/workflows/security.yml
  web/package-lock.json
  web/package.json
Labels: frontend, config, ci, dependencies, security

fix the changes with the issues on ci
  .github/workflows/ci.yml
Labels: config, ci

add fixes to security
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: config, ci, security

fix for workflow issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  go.mod
  infra/production/Dockerfile
Labels: backend, config, ci, dependencies, security, infrastructure

fixes
  .github/workflows/security.yml
Labels: config, ci, security

remove semgroup
  .github/workflows/security.yml
Labels: config, ci, security

Implemeneted API and fixed issues
  CHANGELOG.md
  Makefile
  README.MD
  cmd/apiweaver/commands/amend.go
  cmd/apiweaver/commands/generate.go
  cmd/apiweaver/commands/serve.go
  cmd/apiweaver/commands/validate.go
  cmd/apiweaver/main.go
  docker-compose.yml
  infra/.env.example
  infra/docker/scripts/backup.sh
  infra/docker/scripts/restore.sh
  internal/api/handlers/handlers.go
  internal/api/middleware/middleware.go
  internal/api/models/constants.go
  internal/api/models/requests.go
  internal/api/models/responses.go
  internal/api/router.go
  internal/api/server.go
  internal/common/files.go
  internal/common/http.go
  internal/common/strings.go
  internal/config/loader.go
  internal/domain/amender/amender.go
  internal/domain/generator/generator.go
  internal/domain/parser/parser_test.go
  internal/domain/parser/visitor.go
  internal/domain/parser/visitor_test.go
  internal/domain/validator/validator.go
  internal/logger/formatters.go
  internal/logger/logger.go
  internal/services/amender.go
  internal/services/generator.go
  internal/services/validator.go
  internal/storage/mongodb/client.go
  internal/storage/storage.go
Labels: backend, parser, api, documentation, config, docker, tests, infrastructure

feat: implement complete HTTP API server with REST endpoints
  .gitignore
  cmd/apiweaver/commands/amend.go
  cmd/apiweaver/commands/generate.go
  cmd/apiweaver/commands/serve.go
  cmd/apiweaver/commands/validate.go
  cmd/apiweaver/main.go
  go.mod
  internal/api/handlers/handlers.go
  internal/api/middleware/middleware.go
  internal/api/models/requests.go
  internal/api/models/responses.go
  internal/api/router.go
  internal/api/server.go
  internal/common/files.go
  internal/common/http.go
  internal/common/strings.go
  internal/config/loader.go
  internal/domain/amender/amender.go
  internal/domain/generator/generator.go
  internal/domain/validator/validator.go
  internal/logger/formatters.go
  internal/logger/logger.go
  internal/services/amender.go
  internal/services/generator.go
  internal/services/validator.go
  internal/storage/mongodb/client.go
  internal/storage/storage.go
Labels: backend, api, dependencies

fix gitlelaks
  .gitignore
Labels: none

feat: Implement critical frontend pages with comprehensive testing
  CHANGELOG.md
  web/src/pages/Amend.tsx
  web/src/pages/History.tsx
  web/src/pages/Validate.tsx
  web/src/pages/__tests__/Amend.test.tsx
  web/src/pages/__tests__/History.test.tsx
  web/src/pages/__tests__/Validate.test.tsx
  web/src/test/globals.d.ts
  web/src/test/setup.ts
  web/tsconfig.json
Labels: frontend, documentation, config, tests

feat: implement critical frontend pages with zero-warning codebase
  web/src/components/__tests__/theme-provider.test.tsx
  web/src/components/editor/MonacoEditor.tsx
  web/src/components/theme-provider.tsx
  web/src/components/theme-toggle.tsx
  web/src/components/ui/badge.tsx
  web/src/components/ui/button.tsx
  web/src/contexts/theme-context.ts
  web/src/hooks/useTheme.ts
  web/src/lib/badge-variants.ts
  web/src/lib/button-variants.ts
  web/src/pages/Amend.tsx
  web/src/pages/Validate.tsx
  web/src/test/setup.ts
  web/src/test/utils.tsx
Labels: frontend, tests

fix lint and types
  web/src/lib/__tests__/api-client.test.ts
  web/src/lib/__tests__/utils.test.ts
  web/src/pages/Amend.tsx
  web/src/pages/Validate.tsx
  web/src/pages/__tests__/Amend.test.tsx
  web/src/pages/__tests__/Validate.test.tsx
  web/src/test/setup.ts
  web/src/test/types.ts
  web/src/test/utils.tsx
  web/src/types/api.ts
Labels: frontend, tests

Remove coverage for now since still in development
  web/vite.config.ts
Labels: frontend

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Backend changes
backend:
  - "**/*.go"
  - "go.mod"
  - "go.sum"
  - "cmd/**/*"
  - "internal/**/*"

# Frontend changes  
frontend:
  - "web/**/*"

# Parser changes
parser:
  - "internal/domain/parser/**/*"

# API changes
api:
  - "internal/api/**/*"
  - "internal/services/**/*"

# Documentation changes
documentation:
  - "**/*.md"
  - "docs/**/*"

# Configuration changes
config:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.json"
  - ".github/**/*"

# Docker changes
docker:
  - "Dockerfile*"
  - "docker-compose*.yml"
  - ".dockerignore"

# CI/CD changes
ci:
  - ".github/workflows/**/*"

# Dependencies
dependencies:
  - "go.mod"
  - "go.sum"
  - "web/package*.json"

# Tests
tests:
  - "**/*_test.go"
  - "**/*.test.*"
  - "test/**/*"

# Security
security:
  - ".github/workflows/security.yml"
  - "SECURITY.md"
  - "**/security/**/*"
  - "**/*security*"

# Breaking changes (manual label)
breaking-change:
  - ""

# Infrastructure changes
infrastructure:
  - "infra/**/*"
  - "docker/**/*"
  - "kubernetes/**/*"
  - "terraform/**/*"

# Performance changes
performance:
  - "**/*performance*"
  - "**/*benchmark*"

# Bug fixes
bug:
  - "**/*bug*"
  - "**/*fix*"

# Feature additions
feature:
  - "**/*feature*"
  - "**/*enhancement*"
